.actions-section {
  padding: 140px 20px;
  background-color: #eef2f5;
}

.actions-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 30px;
}

.actions-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.action-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
}

.action-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  height: 173px;
}

.action-card h3 {
  margin-bottom: 10px;
}

.action-card p {
  font-size: 16px;
  color: #333;
}
