.filozoikes-section {
  text-align: center;
  padding: 40px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
}

.carousel .slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 170px;
}

.carousel .control-dots .dot {
  background-color: #333;
}

.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.ad-button-container {
  margin: 10px;
  display: inline-block;
}

.ad-post-button {
  width: 200px; /* Ίδιο πλάτος */
  height: 50px; /* Ίδιο ύψος */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
